# Node modules
node_modules/

# React build artifacts
/build

# Django
*.pyc
__pycache__/
db.sqlite3
media

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*.pyc

# macOS
.DS_Store
