.learning {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 10vh;
    background-image: url('../../assets/imgs//Learning_bg.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: 1;
}

.learning-bubble {
    position: absolute;
    width: auto; 
    width: 35%; 
    align-self: flex-start;
    margin-top: -2%;
    margin-left: 5%;
    z-index: 2;
}

.learning-title{
    position: absolute;
    width: 100%;
    z-index: 3;
}

.bubble-content{
    position: absolute;
    z-index: 3;
    color: #8071b0;
    font-size: 4.5rem;
    font-weight: 800;
    width: 80%;
    height: 60%;
    margin: 10% 20%;
}


.learning-goal {
    position: absolute;
    bottom: -3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url('../../assets/imgs/Learning_goal_bg.png'); 
    background-size:auto;
    background-position: center center;
    background-attachment: fixed;
    min-width: 50%;
    border-radius: 25px;
    z-index: 3;
}

.goals-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    flex-wrap: wrap;
    width: 70%; 
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    height: 100%;
    gap: 10px;
}

.goal-box {
    background: #F1F1F1; 
    border: 2px solid #FB9C47; 
    border-radius: 25px; 
    padding: 1.5rem 2rem; 
    font-size: 3rem; 
    color: #c37f00; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: nowrap;
    line-height: 2rem;
    margin: 20px 0;
}

.goal-box:hover{
    border: 2px solid #FB9C47; 
    background-color: #fccea6;
}

.selected-goal{
    background-color: #ffddbf;
}

.learning-arrow{
    width: 25%;
    align-self: center;
    margin-top: -5%;
}

.learning-arrow:hover{
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .learning-goal{
      animation: fadeIn ease-in-out 1s;
      animation-fill-mode: forwards;
      animation-delay: 0.5s; 
      opacity: 0; 
  }
  
