.story{
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/imgs/Story_bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.story-contain {
    display: flex;
    justify-content: center;
}
  
.story-box {
    background: #FFFFFF; 
    border-radius: 15px;
    padding: 20px;
    /* height: 50%;  */
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 66%;
}

/* .story-box button{
    height: 50%;
} */

.story-text {

    color: #F2984A; 
    font-size: 2em;
    /* line-height: 1.6; */
    overflow-y: auto; 
    padding: 15px;
    height: 60vh;
    text-align: justify;
}

