:root {
  --primary-color: rgba(240, 199, 119);
  --secondary-color: #F79238;
  --bg-primary-color: #1C1C1E;
  --bg-secondary-color: linear-gradient(to right, #85685F95, #FFFFFF00);
  --bg-tertiary-color: linear-gradient(to right, #85685F95, #FFFFFF00);
  --font-family:  'Abel';
  --font-weight: 400;
  --font-primary-color: rgba(194, 165, 101, 0.99);
  --font-secondary-color: #FFFFFF;
  --font-tertiary-color: #757575;
  --font-darker-color: #000000;
  --font-size: 20px;
  --search-bar-color: rgba(240, 199, 119);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
.primaryText{
  color: var(--font-primary-color);
  font-family: var(--font-family);
  font-size: 25px;
}
.secondaryText{
  color: var(--font-tertiary-color);
  font-family: var(--font-family);
  font-size: 18px;
}
.tertiaryText{
  color: var(--font-secondary-color);
  font-family: var(--font-family);
  font-size: 20px;
}
