#header{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 250px;


    display: grid;
    padding-top: 30px;
    grid-template-rows: auto 1fr auto;
    justify-content: center;

    transition: left 0.5s ease-in-out;
    z-index: 2;
}

#header.header-hidden-true{
    left:-250px;
}

.main{
    position: absolute;
    top: 0px;
    left: 250px;
    height: 100%;
    min-height: 100vh;
    width: calc(100% - 250px);
    z-index: 1;
  
    transition: left 0.5s ease, width 0.5s ease;
  }
  .header-hidden-true + .main{
    left: 0;
    width: 100vw;
  }



/* menu bar */
#header-menu-btn{
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

/* header user */
.header-user{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.header-user-profile{
    width: 80px;
    height: 80px;
    border-radius: 10000px;
}

/* table */
.header-table{
    display: flex;
    flex-direction: column;
    gap:30px;
    margin-top: 30px;

}

.header-table button{
    width: 150px;
}

.header-table-items{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.table-icons{
    font-size: 32px;
    margin:0 auto 5px auto;
    width: 32px;
    height: 28px;
}

.header-table-items:hover,
.header-table-items:focus
{
    cursor: pointer;
}

.table-text{
    text-align: center;
}

.log-out{
    background-color: inherit;
    border: none;
    margin-bottom: 3rem;
}