.collezione2-collezione2 {
  width: 707px;
  height: 520px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.collezione2-rectangle26 {
  top: 11px;
  left: 35px;
  width: 647px;
  height: 466px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 28px;
}
.collezione2-text {
  top: 398px;
  left: 76px;
  color: rgba(41, 24, 15, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto Serif;
  font-weight: 600;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.collezione2-image42 {
  top: 17px;
  left: 41px;
  width: 636px;
  height: 351px;
  position: absolute;
  border-radius: 30px 30px 0 0;
}
.collezione2-root-class-name {
  top: 213px;
  left: 990px;
  position: absolute;
}
.collezione2-root-class-name1 {
  top: 213px;
  left: 990px;
  position: absolute;
}
