.home{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}


.home-top{
    width: 95%;
    height: 350px;
    margin: 0 auto;

    border-radius: 0 0 15px 15px;
}

.home-bottom{
    /* height: 70%; */
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 20px;
}


.home-bottom-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.home-bottom-block{
    background-color: var(--color-bar);
    width: 450px;
    height: 250px;
    padding: 20px;
    border-radius: 15px;
}

.home-bottom-block:hover{
    cursor: pointer;
}