.welcome{
    height: 100vh;
    width: 100vw;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "wtop wtop" "wleft wright";
}

.welcome-top{
    grid-area: wtop;
    margin: 50px;
}

.welcome-left{
    grid-area: wleft;
    margin: 0 50px;
}

.welcome-right{
    grid-area: wright;
}

.welcome-img{
    width: 80%;
    /* height: 500px; */
}

/* login/signup */
